

.options button{
    align-items: center;
    width: 25%;
    height: 25px;
    margin-top: 10px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: medium;
    border-radius: 5px;

}

/* button:hover{
    background-color: white;
} */
